language: python
python:
  - "2.7"
dist: trusty
sudo: required
before_install:
  - sudo apt-get -qq update
  - sudo ls -nl
  - sudo apt-get install -y perl libperl-dev python-dev
  - sudo apt-get install -y wget make gcc
  - sudo wget http://www.cpan.org/src/5.0/perl-5.24.0.tar.gz
  - sudo tar -xzf perl-5.24.0.tar.gz
  - cd perl-5.24.0
  - sudo ./Configure -des -Dprefix=$HOME/localperl -Dusethreads
  - sudo make
  - sudo make test
  - sudo make install
  - cd ..
  - cd Python-Object
  - sudo $HOME/localperl/bin/perl Makefile.PL
  - sudo make install
  - cd ..
install:
  - sudo python setup.py install 
script:
  - sudo python test.py